<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin page</title>
</head>
<body>
    <h1>Admin page</h1>

    <% if (locals.debugMsg) { %>
    <p style="color: red"><%= locals.debugMsg %></p>
    <% } %>

    Logged in as <%= locals.user.username %>. <% if (locals.user.admin) { %> [ADMIN] <% } %><br>
    <i><%= locals.user.email %></i>
    <br>
    <% if (locals.user.admin) { %>
        <br>
        Click <a href="/user/register">here</a> to register a new user.<br>
        Click <a href="/user/update">here</a> to update an existing user.<br>
        Click <a href="/user/delete">here</a> to delete an existing user.<br>
        <br>
        Click <a href="/project/create">here</a> to add a new project.<br>
        Click <a href="/project/update">here</a> to update an existing project.<br>
        Click <a href="/project/delete">here</a> to delete an existing project.<br>
    <% } %>
</body>
</html>